<div class="container">
  <h1 class="text-center">Aplicación de calculadora</h1>

  <form>
    <div class="form-group">
      <label> Primer N°: </label>
      <input
        type="number"
        class="form-control"
        placeholder="First number..."
        [(ngModel)]="numberOne"
        name="numberOne"
      />
    </div>
    <div class="form-group">
      <label> Segundo N°: </label>
      <input
        type="number"
        class="form-control"
        placeholder="Second number..."
        [(ngModel)]="numberTwo"
        name="numberTwo"
      />
    </div>
    <button type="submit" class="btn btn-primary" (click)="sumar()">
      Sumar
    </button>
    <button type="submit" class="btn btn-info" (click)="restar()">
      Restar
    </button>
    <button type="submit" class="btn btn-secondary ml-3" (click)="dividir()">
      Dividir
    </button>
    <button type="submit" class="btn btn-dark" (click)="multiplicar()">
      Multiplicar
    </button>
  </form>
  <p>Resultado: {{ resultado }}</p>
</div>
